.hide {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img {
    display: block;
}



.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;


    outline: 2px solid red;
    outline-offset: -2px;
}

@media screen and (min-width: 768px) {
    .container {
        /* Tablet device */
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

.section-title {
    margin-bottom: 72px;
    color: #2E2F42;
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto',
        sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.text-title {
    margin: 0;
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.body-text {

    margin: 0;
    color: #434455;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-nav {
    display: flex;
    align-items: center;
}

.header-logo,
.footer-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header-logo {
    display: inline-flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .header-logo {
        margin-right: 120px;
    }
}

@media only screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.header-logo-accent {
    color: #2E2F42;
}

.footer-logo-accent {
    color: #F4F4FD;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-right: 40px;
}

@media only screen and (max-width: 767.98px) {
    .header-list {
        display: none;
    }
}

.header-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 12px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

@media only screen and (max-width: 767.98px) {
    .header-address-list {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .header-address-list {
        flex-direction: row;
        gap: 40px;
        font-size: 16px;
        line-height: 1.5;
    }
}


.header-contact {
    display: inline-flex;


    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
    .header-contact {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.header-link.active {
    color: #404BBF;
}

.header-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

a[href="#studio"]:active {
    text-decoration: underline;
    letter-spacing: 0.02em;
}

.header-contact:hover,
.header-contact:focus {
    color: #404BBF;
}

/* Hero */

.hero {
    max-width: 1440px;

    padding: 72px 0;
    margin: auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_mob@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_tab@1x.jpg);
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_tab@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_desk@1x.jpg);
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_desk@2x.jpg);
    }
}

.hero-title {
    text-align: center;
    padding-bottom: 72px;

    max-width: 200px;
    margin: 0 auto;
    color: white;
    font-size: 36px;
    line-height: 1.11;
    font-family: 'Roboto',
        sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        padding-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
    }
}

@media only screen and (min-width: 1158px) {
    .hero-title {
        padding-bottom: 48px;
    }
}

.hero-btn,
.modal-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: #4D5AE5;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* Features */

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
}


@media only screen and (min-width: 768px) {
    .features-card {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .features-card {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.features-icon-box {
    display: none;
    justify-content: center;
    align-items: center;
    height: 112px;
    padding: 24px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
    .features-icon-box {
        display: flex;
    }
}

@media only screen and (max-width: 1157.98px) {
    .features-text-title {
        font-size: 36px;
        line-height: 1.11;
        font-weight: 700;
        text-transform: capitalize;
    }
}

/* Team */

.team-section {
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-card {
    width: 264px;


    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
    ;
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px
    }
}



/* .team-pic {
    margin: 0 auto;
} */

.team-name {
    padding: 32px 0;
}

.team-text-title {
    text-align: center;
}

.team-body-text {
    text-align: center;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 8px;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: #F4F4FD;

    background-color: #4D5AE5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}


.socials-icon {
    fill: currentColor;
}

.socials-icon-foot {
    fill: currentColor;
}

/* Portfolio */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-card {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-pic {
    margin: 0 auto;
}

.portfolio-card:hover {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-card:hover .overlay {
    transform: translateY(0%);
}

.portfolio-name {
    margin: 0;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    padding: 40px 32px;
    margin: 0;

    width: 100%;
    height: 100%;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: rgba(77, 90, 229, 1);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.footer {
    padding: 96px 0;
    color: #F4F4FD;
    background-color: #2E2F42;
}

@media only screen and (max-width: 767.98px) {
    .footer {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .footer-container {
        padding: 0 108px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        /* align-items: baseline; */
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        gap: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-slogan {
        margin-right: 120px;
    }
}

@media only screen and (max-width: 767.98px) {
    .footer-slogan {
        margin-bottom: 72px;
    }
}



.footer-text {
    margin: 0;
    width: 264px;
    text-align: left;
    color: #F4F4FD;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-caption {
    margin: 0 0 16px 0;
    display: block;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (max-width: 767.98px) {
    .footer-socials {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-socials {
        margin-right: auto;
    }
}

.footer-socials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



.socials-link-foot {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: #F4F4FD;

    background-color: #4D5AE5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-foot:hover,
.socials-link-foot:focus {
    background-color: #31D0AA;
}

.footer-subscribe-block {
    /* margin-left: 24px; */
}

.footer-subscribe-form {
    display: flex;
    gap: 16px 24px;
    flex-wrap: wrap;
    justify-content: center;
}


.footer-subscribe-form-field {
    border-radius: 4px;

    width: 288px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFfff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: #ffffff;
    font-size: 12px;
    padding-left: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

@media only screen and (min-width: 764px) {
    .footer-subscribe-form-field {
        width: 264px;
    }
}

.footer-subscribe-form-field::placeholder {
    color: #ffffff;
}

.footer-btn {
    color: #ffffff;
    text-align: center;
    padding: 8px 24px;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    display: flex;
    min-width: 165px;
    height: 40px;

    justify-content: center;
    align-items: center;
}

.footer-btn-icon {
    fill: currentColor;
    margin-left: 16px;
}



.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 288px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;

    border-radius: 4px;
    background-color: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #2E2F42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404BBF;
    border: none;
}

.close-btn-icon {
    stroke: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.modal-form-field-wrapper {
    margin-bottom: 8px;
}

.modal-form-field-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-field {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus {
    border: 1px solid #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
    transition: fill 250ms linear;
}

.modal-form-field:focus+.modal-form-field-icon {
    fill: #4d5ae5;
}

.modal-form-field-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field-wrapper-message {
    margin-bottom: 16px;
}

.modal-form-message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.modal-form-message:focus {
    border: 1px solid #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
    transition: fill 250ms linear;
}

.modal-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.modal-form-checkbox {}

.modal-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-checkbox:checked+.modal-form-checkbox-label .modal-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.modal-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-own-checkbox-icon {}

.modal-privacy-policy-link {
    color: #4D5AE5;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.modal-form-checkbox:focus+.modal-form-checkbox-label .modal-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}


/* Burger menu */
.burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;

    background-color: #fff;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms ease;
}

.burger-menu.is-open {
    transform: translateX(0);
    visibility: visible;
}

.menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #e7e9fc;
    border-radius: 50%;
}


.burger-menu-list {
    margin-bottom: auto;
}

.burger-menu-item:not(last-child) {
    margin-bottom: 40px;
}

.burger-menu-link {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.burger-menu-link.active {
    color: #404BBF;
}

.burger-menu-contacts {
    margin-bottom: 48px;
}

.burger-menu-contacts .burger-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.burger-menu-contact {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.burger-menu-contact.accent {
    color: #4D5AE5;
}

.burger-menu-socials {
    gap: 40px;
}